/* Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Avestan&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans Avestan', sans-serif;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(239, 231, 231);/*#050b25*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 300px;
    height: 400px;
    border: 2px solid #2683db;
    border-radius: 10px;
}

.head{
    width: 100%;
    height: 30%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
}

.head svg{
    position: absolute;
    bottom: 0;
    z-index: -1;
}
.box{
    width: 100%;
    height: 100%;
    z-index: 44;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    margin: auto;
}
.head label{
    position: absolute;
    top: -15px;
    right: 5px;
    z-index: 55;
    cursor: pointer;
}
.image{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgb(239, 231, 231);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.image h3{
    font-size: 33px;
    user-select: none;
}
.body{
    width: 100%;
    height: 70%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: center;
}
.body ul li label{
    user-select: none;
}
#check{
    appearance: none;
}
.check{
    width: 50px;
    height: 25px;
    background-color: #66666666;
    border-radius: 25px;
    position: relative;
}
.check::before{
    content: "\f186";
    height: 20px;
    width: 20px;
    color: #2683db;
    -webkit-text-fill-color: #2683db;
    transition: 0.2s;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 2.5px;
    left: 2.5px;
    font-family: FontAwesome;
}
#check:checked ~ .check::before{
    content: '\e0c9';
    left: calc(100% - 22.5px);
    color: #ffde01;
}
#check:checked ~ .check{
    background-color: #2aa0ff;
}

.title{
    padding: 5px;
}
.title h3{
    font-size: 22px;
    color: #222;
    cursor: pointer;
}

.info{
    padding: 10px;
    display: none;
}

.info h4{
    text-align: center;
    font-size: 22px;
}
.info p{
    font-size: 16px;
}

.infoOnload{
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border: 1px solid red;
}

.infoOnload >div{
    width: var(--width);
    height: 15px;
    background: linear-gradient(90deg, #fff 0%, #8e8e8e, #fff 0% , #8e8e8e,#fff, #8e8e8e, #fff,#8e8e8e,#8e8e8e, #fff,#8e8e8e);
    background-size: 500%;
    animation: load 3s linear infinite;
}

@keyframes load {
    0%{
        background-position: 100%;
    }
}
@media (max-width: 300px) {
    .card{
        max-width: 100%;
        max-height: auto;
        border: none;
    }
    .image{
        max-width: 50px;
        max-height: 50px;
    }
}